<!doctype html>
<html lang="eu">
    <%- include ../partials/head.ejs %>
    <body>
        <section class='container'>
            <%- include ../partials/goiburua.ejs %>
            <div class="row aukerak">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <div id="data-div" class="col-xs-12 col-md-4 text-center form-group">
                            <label id="data-etiketa" class="control-label">Data</label>
                            <div id="data-edukiontzia" class="date">
                                <div class="input-group input-append date" id="data">
                                    <input type="text" class="form-control" value="<%= urtea + "-" + hilabetea + "-" + eguna %>">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-th"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 text-center form-group">
                            <label>Sarbidea
                                <select id="sarbidea" class="form-control">
                                    <option value="all-access"<% if (sarbidea === "all-access") { %> selected<% } %>>Guztiak</option>
                                    <option value="desktop"<% if (sarbidea === "desktop") { %> selected<% } %>>Mahaigainekotik</option>
                                    <option value="mobile-app"<% if (sarbidea === "mobile-app") { %> selected<% } %>>Mugikorretik (aplikazioa)</option>
                                    <option value="mobile-web"<% if (sarbidea === "mobile-web") { %> selected<% } %>>Mugikorretik (web)</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-12 col-md-4 text-center checkbox">
                            <label>
                                <input id="bereziak_barne" type="checkbox"<%= checked %>> Bereziak barne
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <h1 class="izenburua">Euskarazko Wikipediako artikulurik irakurrienak: <%= urtea + "-" + hilabetea + "-" + eguna %></h1>
            <div class="rankina">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Izenburua</th>
                            <th class="ikustaldiak">Ikustaldiak</th>
                            <th></th>
                        </tr>
                    </thead>
                    <% for (var i = 0; i < artikuluak.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %>
                            <td>
                                <a href="https://eu.wikipedia.org/wiki/<%= artikuluak[i].article %>"><%= artikuluak[i].article.replace(/_/g, " ") %></a>
                            </td>
                            <td class="ikustaldiak"><%= artikuluak[i].views %></td>
                            <td class="joera">
                                <a href="joerak?artikuluak=<%= artikuluak[i].article %>">Joera</a>
                            </td>
                        </tr>
                    <% } %>
                </table>
                <% if (errorea) { %>
                    <div class="emaitzik-ez">Ezin izan dira hautatutako eguneko irakurrienen datuak eskuratu</div>
                <% } else if (artikuluak.length === 0) { %>
                    <div class="emaitzik-ez">Ez dago bat datorren artikulurik</div>
                <% } %>
            </div>

            <%- include ../partials/oina.ejs %>
        </section>
        <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.eu.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#data').datepicker({
                    format: "yyyy-mm-dd",
                    weekStart: 1,
                    language: "eu",
                    autoclose: true,
                    startDate: "2015-10-01", // Momentuz ez dago data hori baino lehenagoko daturik.
                    endDate: "-1d"           // Atzo. Ez utzi gaurko edo etorkizuneko datarik hautatzen.
                })
                .on("changeDate", function(e) {

                    kargatuBerriz();

                });

                $("#bereziak_barne").click(function(){

                    kargatuBerriz();

                });

                $("#sarbidea").change(function() {

                    kargatuBerriz();

                });

                function kargatuBerriz() {

                    var data = $("#data input").val();
                    var bereziak_barne = $("#bereziak_barne").is(":checked");
                    var sarbidea = $("#sarbidea").val();

                    window.location.href = "?data=" + data + "&bereziak_barne=" + bereziak_barne + "&sarbidea=" + sarbidea;

                }
            });
        </script>
    </body>
</html>
