<!doctype html>
<html lang="eu">
    <%- include ../partials/head.ejs %>
    <body>
        <section class='container'>
            <%- include ../partials/goiburua.ejs %>
            <div class="row aukerak">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-8">
                            <label id="data-etiketa" class="col-xs-offset-2 col-xs-2 control-label">Data</label>
                            <div class="date">
                                <div class="col-xs-8 input-group input-append date" id="data">
                                    <input type="text" class="form-control" value="<%= urtea + "-" + hilabetea + "-" + eguna %>">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-th"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-offset-4 col-xs-8 col-sm-offset-0 col-sm-4 checkbox">
                            <label>
                                <input type="checkbox"> Bereziak barne
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <h1 class="izenburua">Euskarazko wikipediako artikulurik irakurrienak: <%= urtea + "-" + hilabetea + "-" + eguna %></h1>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Izenburua</th>
                            <th class="ikustaldiak">Ikustaldiak</th>
                        </tr>
                    </thead>
                    <% for (var i = 0; i < artikuluak.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %>
                            <td><a href="https://eu.wikipedia.org/wiki/<%= artikuluak[i].article %>"><%= artikuluak[i].article.replace(/_/g, " ") %></a></td>
                            <td class="ikustaldiak"><%= artikuluak[i].views %></td>
                        </tr>
                    <% } %>
                </table>
            </div>

            <footer>
                <div class="logo"><a href="https://www.openshift.com/"></a></div>
            </footer>
        </section>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap-datepicker.eu.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#data').datepicker({
                    format: "yyyy-mm-dd",
                    weekStart: 1,
                    language: "eu",
                    autoclose: true
                });
            });
        </script>
    </body>
</html>
